---
layout: page
title: Imagery on the web.
---
<h1>Imagery on the web.</h1>

<blockquote>A collection of thoughts and projects. Mostly animation related.</blockquote>

<h3>Recent Happenings</h3>
<hr>
{% for post in site.categories.news %}
{% if forloop.index < 5 %}
{% include blog_single.html %}
{% endif %}
{% endfor %}


<p><a href="/news" class="btn btn-info" > More News items --> </a></p>

<p><a href="https://plus.google.com/110232976632236787476" rel="publisher">Google+</a> or <span class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></span></p>

