/*Top banner!*/
#top-banner {
	background: url("/img/site/fancy_banner/leather_quarter.png");
	height: 66px;
}

#brass1, #brass2 {
	height: 66px;
	width: 27px;
	background-image: url("/img/site/fancy_banner/brass_buckle.png");
	position: absolute;
	top: 0px;
}

#brass1 {
	background-position: -27px 0px;
	left: 0px;
}

#brass2 {
	background-position: 0px 0px;
	right: 0px;
}



/*Show reel on screen!*/
.tv-screen {
  margin-top: 10px;
  background: rgb(10,10,10);
  padding: 15px;
  position: relative;
  border: 1px solid black;
  overflow: hidden;
}
/*.tv-screen:after {
  content: "";
  position: absolute;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0)
    );
  transform: rotate(-45deg);
  height: 30%;
  width: 100%;
  top: 0px;
  left: -20%;
}*/
.tv-screen:before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 96%;
  bottom: 0px;
  height: 20px;
  left: 2%;
  border-radius: 100px / 5px;
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.9);
}
.tv-screen-screen {
  box-shadow: 1px 1px 0px 0px rgba(255, 255, 255, 0.1);
}
