<a href="https://www.youtube.com/user/internetimagery" alt="Youtube"><i class="fa fa-youtube-square fa-2x"></i></a>
<a href="https://vimeo.com/user23624360" alt="Vimeo"><i class="fa fa-vimeo-square fa-2x"></i></a>
<a href="https://plus.google.com/101475051723636388783" alt="Google Plus"><i class="fa fa-google-plus-square fa-2x"></i></a>
<a href="https://www.linkedin.com/profile/view?id=342852087" alt="Linkedin"><i class="fa fa-linkedin-square fa-2x"></i></a>
<a href="https://github.com/internetimagery" alt="Github"><i class="fa fa-github-square fa-2x"></i></a>
<a href="/feed.xml" data-no-instant alt="RSS news feed"><i class="fa fa-rss-square fa-2x"></i></a>
<a href="mailto:jason.dixon.email@gmail.com" alt="Email"><i class="fa fa-envelope-square fa-2x"></i></a>
<a href="/pgp" alt="PGP key"><i class="fa fa-key fa-2x"></i></a>
